* {
    margin: 0;
    padding: 0;
    font-family: 'poppinsregular', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #0e1115;
    color: #ffffff;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'), url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobsterregular';
    src: url('../fonts/lobster-regular-webfont.woff2') format('woff2'),
         url('../fonts/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ///////////////////////////////////////////BANNER//////////////////////////////////////////////// */

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(83, 23, 78, 0.862)), url(../imagenes/tomorrowland-portada.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 90px;
    position: fixed;
    top: 2%;
    left: 1%;
    z-index: 99;
}

.banner-texto {
    text-align: center;
    padding-top: 190px;
}

.banner-texto h1 {
    font-size: 70px;
    font-family: 'lobsterregular', cursive;
    font-weight: 100;
}

@media (max-width:500px) {
    .banner-texto h1 {
        font-size: 50px;
    }
}

.banner-texto p {
    padding: 35px;
    font-size: 40px;
    font-style: italic;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #ccc;
    margin-left: 1px;
    animation: blink 1s infinite;
}

.cursor.blink {
    animation: none;
}

@keyframes blink {
    0% {background-color: #ccc;}
    49% {background-color: #ccc;}
    50% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {background-color: #ccc;}
}

.banner-boton {
    margin: 60px auto 0;
}

.banner-boton a {
    font-size: 28px;
    width: 280px;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    margin: 0 10px;
    padding: 12px 10px;
    border: #ffffff 2px solid;
    background-color: #ffffff15;
    transition: 1s;
    border-radius: 5px;
}

.banner-boton a:hover {
    background-color: #f9f9f957;
}

/* ///////////////////////////////////////////NAV BAR///////////////////////////////////////////// */
#nav {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.927);
    position: fixed;
    z-index: 98;
    display: none;
}

#nav nav ul li {
    list-style: none;
    margin: 50px 20px;
    text-align: center;
    font-size: 30px;
}

#nav nav ul li a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

.link:after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: white;
    transition: 300ms;
  }
  
  .link:hover:after {
    width: 100%;
  }

#menu-boton {
    width: 50px;
    height: 50px;
    background: #f52626;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 99;
    cursor: pointer;
    display: block;
}

#menu-boton img {
    width: 20px;
    margin-top: 15px;
}

#redes-sociales {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

#redes-sociales i {
    font-size: 42px;
    color: #959595;
    cursor: pointer;
    margin: auto;
    transition: 500ms;
}

#redes-sociales i:hover {
    color: white;
}
/* //////////////////////////////////////////Seccion Tomorrowland///////////////////////////////////////////// */
#tomorrowland h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 60px;
}

#tomorrowland-historia {
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto-tomorrowland {
    width: 50%;
    padding-right: 50px;
}

#texto-tomorrowland p {
    font-size: 18px;
}

#tomorrowland-historia a {
    text-decoration: none;
    color: #ff6464;
    transition: 0.7s;
}

#tomorrowland-historia a:hover {
    color: #ff2525;
}

.espaciado {
    margin-left: 50px;
}

.div-img {
    background-image: url(../imagenes/tomorrowland2.png);
    width: 50%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

#tomorrowland-historia--2 {
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto-tomorrowland--2 {
    width: 50%;
    padding-left: 50px;
}

#texto-tomorrowland--2 p {
    font-size: 18px;
}

#tomorrowland-historia--2 a {
    text-decoration: none;
    color: #ff6464;
    transition: 0.7s;
}

#tomorrowland-historia--2 a:hover {
    color: #ff2525;
}

.div-img--2 {
    background-image: url(../imagenes/tomorrowland3.png);
    width: 50%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

@media (max-width:500px) {
    #tomorrowland-historia {
        width: 100%;
        margin: auto;
        flex-direction: column;
    }
    
    #texto-tomorrowland {
        width: 100%;
        padding: 0 40px 30px 40px
    }
    
    .div-img {
        background-image: url(../imagenes/tomorrowland2.png);
        padding: 0 20px 0 20px;
        width: 400px;
        height: 350px;
        background-position: center;
        background-size: cover;
    }

    #tomorrowland-historia--2 {
        width: 100%;
        margin: auto;
        flex-direction: column;
    }
    
    #texto-tomorrowland--2 {
        width: 100%;
        padding: 40px 40px 30px 40px
    }
    
    .div-img--2 {
        background-image: url(../imagenes/tomorrowland3.png);
        padding: 0 20px 0 20px;
        width: 400px;
        height: 350px;
        background-position: center;
        background-size: cover;
    }
}

/* /////////////////////////////////////// Slider ///////////////////////////////////////////// */
#slider {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor {
    width: 1600px;
    margin: auto;
}
.subcontenedor {
    width: 85%;
    margin: auto;
}
.controlador {
    display: flex;
    justify-content: space-between;
}
#controles i {
    color: white;
    font-size: 17px;
}
.anterior, .siguiente {
    padding: 2px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: 0.7s ease-in-out;
    border: 3px solid white;
    background-color: #0e1115;
    box-shadow: 0 0 5px #bbb;
}
.anterior:hover, .siguiente:hover {
    border: 3px solid gray;
}
.slide-img {
    width: 100%;
    height: 275px;
    padding: 5px 30px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.slide-img:hover {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.8) inset;
}
.slide-img p {
    transform: scale(0);
    transition: 0.8s;
    font-size: 17px;
    text-align: center;
    opacity: 0;
    color: white;
}
.slide-img:hover p {
    opacity: 1;
    transform: scale(1);
}
.img-1 {
    background-image: url(../imagenes/2021.png);
}
.img-2 {
    background-image: url(../imagenes/2020.png);
}
.img-3 {
    background-image: url(../imagenes/2019.png);
}
.img-4 {
    background-image: url(../imagenes/2018.png);
}
.img-5 {
    background-image: url(../imagenes/2017.png);
}
.img-6 {
    background-image: url(../imagenes/2016.png);
}
.img-7 {
    background-image: url(../imagenes/2015.png);
}
.img-8 {
    background-image: url(../imagenes/2014.png);
}
.img-9 {
    background-image: url(../imagenes/2013.png);
}
.img-10 {
    background-image: url(../imagenes/2012.png);
}
.img-11 {
    background-image: url(../imagenes/2011.png);
}
.img-12 {
    background-image: url(../imagenes/2010.png);
}
.img-13 {
    background-image: url(../imagenes/2009.png);
}
.img-14 {
    background-image: url(../imagenes/2008.png);
}
.img-15 {
    background-image: url(../imagenes/2007.png);
}
.img-16 {
    background-image: url(../imagenes/2006.png);
}
.img-17 {
    background-image: url(../imagenes/2005.png);
}
@media(max-width:1600px){
    .contenedor {
        width: 100%;
    }
}

/* /////////////////////////////////////////////////// NOTICIAS ///////////////////////////////////////// */
#articulos {
    width: 1300px;
    margin: 60px auto;
}

#contenedor--articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#articulo-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(221, 21, 21, 0.8)), url(../imagenes/noticia-1.png);
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 350px;
    margin: 15px 10px;
    text-align: center;
    border-radius: 5px;
}

#articulo-1 p {
    font-size: 25px;
    margin-top: 100px;
    font-weight: 500;
}

#articulo-1 hr {
    width: 70%;
    margin: 25px auto 0 auto;
}

#articulo-1 button {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    background: #7f1bbe;
    color: white;
    transition: 500ms;
}

#articulo-1 button:hover {
    background: #5e108e;
}

#articulo-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(221, 21, 21, 0.8)), url(../imagenes/noticia-2.png);
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 350px;
    margin: 15px 10px;
    text-align: center;
    border-radius: 5px;
}

#articulo-2 p {
    font-size: 25px;
    padding: 0 50px;
    margin-top: 108px;
    font-weight: 500;
}

#articulo-2 hr {
    width: 70%;
    margin: 25px auto 0 auto;
}

#articulo-2 button {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    background: #7f1bbe;
    color: white;
    transition: 500ms;
}

#articulo-2 button:hover {
    background: #5e108e;
}

#articulo-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(221, 21, 21, 0.8)), url(../imagenes/noticia-3.png);
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 350px;
    margin: 15px 10px;
    text-align: center;
    border-radius: 5px;
}

#articulo-3 p {
    font-size: 25px;
    padding: 0 50px;
    margin-top: 108px;
    font-weight: 500;
}

#articulo-3 hr {
    width: 70%;
    margin: 25px auto 0 auto;
}

#articulo-3 button {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin-top: 52px;
    cursor: pointer;
    background: #7f1bbe;
    color: white;
    transition: 500ms;
}

#articulo-3 button:hover {
    background: #5e108e;
}

#articulo-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(221, 21, 21, 0.8)), url(../imagenes/noticia-4.png);
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 350px;
    margin: 15px 10px;
    text-align: center;
    border-radius: 5px;
}

#articulo-4 p {
    font-size: 25px;
    padding: 0 50px;
    margin-top: 108px;
    font-weight: 500;
}

#articulo-4 hr {
    width: 70%;
    margin: 25px auto 0 auto;
}

#articulo-4 button {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin-top: 68px;
    cursor: pointer;
    background: #7f1bbe;
    color: white;
    transition: 500ms;
}

#articulo-4 button:hover {
    background: #5e108e;
}

#articulo-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(221, 21, 21, 0.8)), url(../imagenes/noticia-5.png);
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 350px;
    margin: 15px 10px;
    text-align: center;
    border-radius: 5px;
}

#articulo-5 p {
    font-size: 25px;
    padding: 0 25px;
    margin-top: 100px;
    font-weight: 500;
}

#articulo-5 hr {
    width: 70%;
    margin: 25px auto 0 auto;
}

#articulo-5 button {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    background: #7f1bbe;
    color: white;
    transition: 500ms;
}

#articulo-5 button:hover {
    background: #5e108e;
}

#articulo-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(221, 21, 21, 0.8)), url(../imagenes/noticia-6.png);
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 350px;
    margin: 15px 10px;
    text-align: center;
    border-radius: 5px;
}

#articulo-6 p {
    font-size: 25px;
    padding: 0 25px;
    margin-top: 100px;
    font-weight: 500;
}

#articulo-6 hr {
    width: 70%;
    margin: 25px auto 0 auto;
}

#articulo-6 button {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    background: #7f1bbe;
    color: white;
    transition: 500ms;
}

#articulo-6 button:hover {
    background: #5e108e;
}
/* ////////////////////////////////////////////////////// */
#noticias h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 40px;
}

#contenedor--noticias {
    background-image: url(../imagenes/tomorrowland4.png);
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.864) inset;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 60px 40px;
    width: 900px;
    margin: auto;
    text-align: center;
}

#contenedor--noticias h1 {
    font-size: 36px;
    color: #7f1bbe;
    margin-bottom: 15px;
}

#contenedor--noticias span {
    font-size: 17px;
}

#contenedor--noticias hr {
    width: 400px;
    height: 5px;
    background-color: #fff;
    margin: 20px auto;
}

#contenedor--noticias input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 25px;
}

#contenedor--noticias button {
    width: 50%;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
    background: #7f1bbe;
    font-weight: 700;
    transition: 400ms;
    cursor: pointer;
}

#contenedor--noticias button:hover {
    background: #5e108e;
}

/* //////////////////////////////////////////////////// FAQ ////////////////////////////////////////////////// */
#faq h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    margin-bottom: 40px;
}

#contenedor--faq {
    width: 900px;
    margin: 0 auto;
    padding: 0 25px;
}

.desplegable-item {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #7f1bbe;
    box-shadow: 5px 2px 5px rgba(255, 255, 255, 0.1);
}

.desplegable-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.desplegable-link i {
    padding: 12px;
}

.desplegable-link .fa-solid.fa-minus {
    display: none;
}

.respuesta {
    overflow: hidden;
    max-height: 0;
    position: relative;
    background-color: #5e108e;
    border-radius: 15px;
    transition: max-height 700ms;
}

.respuesta::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: black;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.respuesta p {
    font-size: 19px;
    padding: 20px;
}

.desplegable-item:target .respuesta {
    max-height: 900px;
}

.desplegable-item:target .desplegable-link .fa-solid.fa-plus {
    display: none;
}

.desplegable-item:target .desplegable-link .fa-solid.fa-minus {
    display: block;
}

/* ///////////////////////////////////////////////////FOOTER///////////////////////////////////////////////// */
footer {
    margin-top: 70px;
}

#redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#redes hr {
    width: 550px;
}

#redes i {
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
}

footer #politicas {
    text-align: center;
    margin: 20px 0;
}

footer #politicas p {
    margin-bottom: 20px;
}

footer #politicas a {
    cursor: pointer;
    text-decoration: underline;
}